<h2><%= @list.title %></h2>
<p><%= @list.description %></p>
<h3>Items in your list</h3>
<% @total = 0 %>
<div id="listOfItems">
  <%= render :partial => 'listOfItems' %>
</div>
<span style="font-weight:bold;">Total amount : 
  <span id="total"><%= @total %></span>
  € </span></br>
  <% contlist = [] %>
  <% @contributors.each do |cont| %>
  <% if cont.username != nil:NilClass %>
  <!--	<%= link_to 'delete', [@user, @list, cont], :method => :delete
	%></td></tr>-->
  <% contlist += [cont.username] %>
  <% end %>
  <% end %>
<p>
  <% if contlist.count > 0 %>
  <%= englishJoin(contlist)+' '+have(contlist.count) %> been notified
  of this list.
  <% else %>
  You haven't notified anybody of this list.
  <% end %>
</p>
<% form_for [@user, @list, @contributor]  do |f| %>
<%= f.text_field :username %> <%= f.submit 'add' %>
<% end %>

<%= link_to 'Back', root_path %>
