if ("<%= @item.save %>" == "true")
{  
notify("success", "Item <%= @item.name %> was added!");
$('#theList tr:last').before("<tr id='it_<%= @item.id %>'><td><%= @item.name %></td><td><%= @item.price %> €</td><td><%= escape_javascript link_to(image_tag('delete.gif'), user_list_item_path(@user, @list, @item), :class => 'item_delete_btn') %></td></tr>");
$("a.item_delete_btn").submitDeleteLinkWithAjax();
$("input#item_name").attr("value","");
$("input#item_price").attr("value","");
var total = parseFloat($("#total").html());
var price = parseFloat("<%= @item.price %>");
$("#total").html(total+price);
}
else
{
notify("failure", "Failed adding item!");
}
