<!DOCTYPE html>
<html>
<head>
  <title>WishLister</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
<!--  <script type="text/javascript"
  src="http://github.com/malsup/form/raw/master/jquery.form.js"></script>-->
<%= javascript_include_tag 'rails' %>
  <% if protect_against_forgery? %>
  <script type='text/javascript'>
    //<![CDATA[
        window._auth_token_name = "#{request_forgery_protection_token}";
        window._auth_token = "#{form_authenticity_token}";
    //]]>
  </script>
  <% end %>
  <%= javascript_include_tag 'application' %>
<!--  <%= javascript_include_tag 'addItem' %>-->
  <%= csrf_meta_tag %>
</head>
<body>
<h1>Wishlister</h1>
<%= yield %>

</body>
</html>
